<h2>List all spells from API</h2>
<div class="row">
    <% spells.forEach(spell => { %>
        <div class="col-sm-3">
            <div class="well text-center">
                <%= spell.name %>
            </div>
        </div>
    <% }) %>
</div>