@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap');

body {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#brand {
    font-family: 'Cinzel Decorative', cursive;
    color: red;
}

.spell-header {
    background-color: blueviolet;
    color: white;
    padding-top: 12px;
}

.card {
    border-radius: 1.5rem;
}